<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue.js Start</title>
  <style>
    body {
      background-color: green;
      text-align: center;
      font-size: 1.2rem;
    }
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      background-color: yellow;
      color: #2c3e50;
      margin: 60px auto;
      padding: 30px;
      width: 400px;
    }
    ul, li {
      list-style-type: none;
    }
    button {
      background-color: red;
      color: white;
    }
    button:hover {
      background-color: white;
      color: red;
    }
  </style>
</head>

<body>

  <h1>Vue.js</h1>
  <p>is ready to start an adventure</p>
  

  <div id="app">
    <h2>{{ greeting }}</h2>
    <h3>My awasome todo list:</h3>
    <ul>
      <li v-for="todo in todos">
        {{todo.id}} - {{todo.todo}} 
        <button v-on:click="deleteTodo(todo.id)">X</button>
      </li>
    </ul>
    <p v-if="!todos.length">No products!</p>

    <form action="" v-on:submit="addTodo">
      <input type="text" value="enter todo name" v-model="newTodo">
      <button v-on:click="addTodo">Add new Todo</button>
    </form>
    <br>
    <button v-on:click="deleteLast">Delete last Todo</button>
  </div>


  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
    
    const app = new Vue({
      el: '#app',
      data: {
        greeting: 'Hello DevMeetings!',
        newTodo: '',
        todos: [{
          id: 0, todo: 'buy milk'
        },{
          id: 1, todo: 'buy bread'
        },{
          id: 2, todo: 'go for a walk'
        },{
          id: 3, todo: 'take umbrella'
        },{
          id: 4, todo: 'go to sleep'
        }]
      },
      methods: {
        deleteLast() {
          this.todos.pop();
        },
        deleteTodo(id, todo) {
          this.todos.splice(id,1)
        },
        addTodo(e) {
          e.preventDefault();
          this.todos.push({ todo: this.newTodo, id: 5 });
          this.newTodo = '';
        }
      }
    })
  </script>
</body>

</html>
